@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark*)) */

*{
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-primary: #5044E5;
}